<br/>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form>
        <div class="form-row">

          <div class="col-md-4">
            <input type="text" name="name" id="name" [(ngModel)]="newGuest.name" placeholder="Guest Name" class="form-control">
          </div>
          <div class="col-md-2">
            <input name="roomSize"  pattern="[0-9]+" id="roomSize" [(ngModel)]="newGuest.roomSize" placeholder="Room Size"
              class="form-control">
          </div>
         <!--- <td>
            <select name="roomSize" class="custom-select mr-sm-2" id="roomSize" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.roomSize">
              <option selected>Single</option>
              <option value="Paid">Double</option>
              <option value="Unpaid">Suite</option>
            </select>
            </td>-->
          <div class="col-md-2">
            <input type="text" name="roomNum" id="roomNum" [(ngModel)]="newGuest.roomNum" placeholder="Room Number" class="form-control">
          </div>
          <div class="col-md-2">
            <input type="text" name="numNight" id="numNight" [(ngModel)]="newGuest.numNight" placeholder="Number of Nights" class="form-control">
          </div>
         <div class="col-md-2">
            <input type="text" name="payment" id="payment" [(ngModel)]="newGuest.payment" placeholder="Payment Type" class="form-control">
          </div>
         <!---<td>
            <select name="payment" class="custom-select mr-sm-2" id="payment" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.payment">
              <option selected>Select...</option>
              <option value="Paid">Paid</option>
              <option value="Unpaid">Unpaid</option>
            </select>
          </td>
       
          <td> -->
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="guests" *ngIf="guestsList">
        <table class="table table-striped table-light">
          <thead class="h">
            <tr class="h">
              <th class="h">Name</th>
              <th class="h">Room Size</th>
              <th class="h">Room Number</th>
              <th class="h">Number of Nights</th>
              <th class="h">Payment Type</th>
              <th class="h">Date</th>
              <th class="h">Status</th>
              <th class="h">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr class="guest" (dblclick)="editGuest(guest)" *ngFor="let guest of guestsList">

              <ng-container *ngIf="!editGuests.includes(guest); else editTD">
                <td>{{guest.name}}</td>
                <td>{{guest.roomSize}}</td>
                <td>{{guest.roomNum}}</td>
                <td>{{guest.numNight}}</td>
                <td>{{guest.payment}}</td>
                <td>{{guest.date | date}}</td>
                <td>{{guest.status}}</td>
              </ng-container>

              <ng-template #editTD>
                <td><input type="text" name="name" id="name" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.name"
                    placeholder="Guest Name" class="form-control"></td>
                <td><input type="text" name="roomSize" id="roomSize" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.roomSize"
                     placeholder="Room Size" class="form-control"></td>
                   <!-- this is a dropdown list option <td>
                      <select name="roomSize" class="custom-select mr-sm-2" id="roomSize" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.roomSize">
                        <option selected>Single</option>
                        <option value="Paid">Double</option>
                        <option value="Unpaid">Suite</option>
                      </select>
                      </td> -->

                <td><input type="text" name="roomNum" id="roomNum" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.roomNum" 
                    placeholder="Room Number" class="form-control"></td>
                <td><input type="text" name="numNight" id="numNight" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.numNight" 
                    placeholder="Number Night" class="form-control"></td>
                 <td><input type="text" name="payment" id="payment" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.payment" 
                    placeholder="Payment Type" class="form-control"></td>   
                    
                  <!---  <td>
                      <select name="payment" class="custom-select mr-sm-2" id="payment" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.payment">
                        <option selected>Select...</option>
                        <option value="Paid">Paid</option>
                        <option value="Unpaid">Unpaid</option>
                      </select>
                    </td>-->
      
                    <td>  
                <td>{{guest.date | date}}</td>
                <td>
                  <input type="text" name="status" id="status" (keypress)="submitGuest($event, guest)" [(ngModel)]="guest.status"
                    placeholder="Status" class="form-control">
                </td>
              </ng-template>

              <td class="o">
                <button class="btn btn-success" (click)="doneGuest(guest)">
                  <i class="fa fa-check"></i>
                </button>
                <button class="btn btn-primary" (click)="editGuest(guest)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteGuest(guest)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-1"></div>

  </div>
</div>
